<div *ngIf="!currentUser">
  <div class="form-group">
    <input #username placeholder="Username" class="form-control">
  </div>
  <div class="form-group">
    <input #password placeholder="Password" type="password" class="form-control">
  </div>
  <button (click)="login(username.value, password.value)" class="btn btn-success">Login</button>
  <span *ngIf="errorMessage">{{errorMessage}}</span>
</div>
<div *ngIf="currentUser">
  <span>Logged in as: {{currentUser.username}}</span>
  <button (click)="logout()" class="btn btn-danger">Logout</button>
</div>